@use "../abstracts/colors" as c;

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  border: 2px solid c.$dark-color;
  border-radius: 0.5rem;
  background-image: none;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 100%;
  // width: 13em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: transparent;
    transition: 0.25s all ease;
    pointer-events: none;
  }
  &:hover::after {
    color: c.$primary-color;
  }
}
