$primary-color: #6a67ce;
$secondary-color: #3be8b0;
$third-color: #1aafd0;
$warning: #ffb900;
$danger: #fc636b;
$dark-color: #141618;
$text-color: #53575a;
$text-color-alt: #282d31;
$white-color: #fff;
$body-color: #fcfcfc;
$primary-color-rgba: rgba(127, 90, 131, 0.3);
